<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body align="center">
    <h2>New MAC request <%=@id %> submitted</h2>
    <p><b>For Division:</b> <%= @division %><br/>
    <b>Status: </b>New<br/>
    <b>What: </b><%=@what %><br/>
    <b>Why: </b><%=@why %><br/>
    <b>When: </b><%=@when %><br/>
    <b>How: </b><%=@how %><br/>
    <b>Success: </b><%=@success %><br/>
    <b>Rollback: </b><%=@rollback %><br/></p>
  </body>
</html>